@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 24SevenBooking</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Rooms">Rooms</a> <!-- Updated to use asp-page -->
        </li>
    </ul>
</div>
